In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:

df = pd.read_csv('data/boston_housing_data.csv', sep=',', header=None)
df = df.rename(columns={0:'NaN_col'}).drop('NaN_col', axis=1)
df = df.rename(columns={
    1:'CRIM', 
    2:'ZN', 
    3:'INDUS', 
    4:'CHAS', 
    5:'NOX',
    6:'RM', 
    7:'AGE',
    8:'DIS',
    9:'RAD',
    10:'TAX',
    11:'PTRATIO',
    12:'B',
    13:'LSTAT',
    14:'MEDV'
})
df = df.dropna()
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

The median home values across all Boston Suburbs in dollars.

In [6]:
np.median(df['MEDV'].dropna()) * 1000

21950.0

Average home values all Boston Suburbs

In [7]:
np.mean(df['MEDV'].dropna()) * 1000

23750.442477876106

Median home value of suburbs with newest houses

In [8]:
df[df.AGE == min(df['AGE'])]['MEDV'] * 1000

41    26600.0
Name: MEDV, dtype: float64

The relationship between per-capita crime rate and the pupil-teacher ratio. Differentiate between whether or not the suburb is bounded by the Charles River.

In [12]:
df_river = df[df.CHAS == 1]
df_noriver = df[df.CHAS == 0]
x_river = df_river['PTRATIO']
x_noriver = df_noriver['PTRATIO']
y_river = df_river['CRIM']
y_noriver = df_noriver['CRIM']
plt.xlabel('Pupil-Teacher Ratio')
plt.ylabel('Per-capita Crime Rate')
x = plt.scatter(x_noriver, y_noriver, color='#EEAA55', marker='.')
y = plt.scatter(x_river, y_river, color='#00CCFF')
plt.legend(handles=[x, y], labels=['Not on river', 'On river'])
plt.title('Pupil-Teacher Ratio vs Crime Rate')
plt.show()

NameError: name 'plt' is not defined